.stable {
  --header-bg-color: transparent;
  --header-bg-image: linear-gradient(0deg, #dfdfdf 0%, #ffffff 100%);
  --header-border-color: #d0d0d0;
  --header-asc-icon: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAGCAYAAAARx7TFAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAU0lEQVQImYXOsQ0AMQgDQFIgZRxG9G60zECTBdJQ+6t8EfR6JDfWSUbkOgC8uwYyk5/wgL03q6pDAIwIZibXWm8OHABoZjLnFFVtC+4u4+9ZAOMBnF07zgszHpwAAAAASUVORK5CYII=);
  --col-resize-sep-bg-color: #a0a0a0;
  --row-odd-bg-color: #f3f3f3;
  --row-even-bg-color: #ffffff;
  --row-active-bg-color: #cfdeef;
  --row-highlight-brightness: 1;
  position: relative;
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  -moz-user-focus: normal;
  -moz-user-input: enabled;
}
.stable table {
  table-layout: fixed;
  width: 0;
  border-spacing: 0;
}
.stable td {
  font: menu;
  font-family: inherit;
  font-size: inherit;
  white-space: nowrap;
  padding: 0;
  overflow: hidden;
}
.stable thead {
  position: sticky;
  inset-block-start: 0;
  background-color: var(--header-bg-color);
  background-image: var(--header-bg-image);
  z-index: 2;
}
.stable thead td div {
  border-bottom: 1px solid var(--header-border-color);
}
.stable thead td:not(:first-child) div {
  border-left: 1px solid var(--header-border-color);
}
.stable thead td:not(:last-child) div {
  border-right: 1px solid var(--header-border-color);
}
.stable thead td div {
  position: relative;
  padding: 0.25rem 0.5rem;
  margin: 0;
}
.stable thead td.asc div, .stable thead td.desc div {
  padding-right: 1.5rem;
}
.stable thead td.asc div::after, .stable thead td.desc div::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 1.35rem;
  background: no-repeat center;
  background-image: var(--header-asc-icon);
  transition: 0.5s;
}
.stable thead td.desc div::after {
  transform: rotate(-180deg);
}
.stable thead div.resz {border: 1px solid #FF0000; width: 5px; height: 14px; padding: 0 !important; float: right; background: transparent url(../images/s.gif) no-repeat scroll left center; cursor: e-resize}
.stable-body {
  width: 100%;
  flex: 1 1 auto;
  background: #F5F5F5;
  overflow: auto;
  overflow-anchor: none;
}
.stable-gadgets {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
}
.stable tbody tr {cursor: pointer;}
.stable tbody tr:not(:first-child) {border-top: 1px solid #E0E0E0;}
.stable tbody tr:not(:last-child) {border-bottom: 1px solid #E0E0E0;}
.stable tbody td:first-child div {
  display: flex;
  align-items: center;
  gap: 0.35rem;
}
.stable-icon {
  display: inline-block;
  width: 1.35rem;
  height: 1.35rem;
  margin: 0 0.25rem;
  padding: 0 !important;
  flex: 0 0 auto;
  background: url(../images/tstatus.png) no-repeat;
}
.stable-lpad {width: 5px; height: 16px; margin: 0; padding: 0; float: left; }
.stable tbody td div {
  overflow: hidden;
  padding: 0.15rem 0.25rem;
  margin: 0.15rem 0.25rem;
}
.konqueror .stable tbody td div { margin: 0 0px 0 0px !important }
.stable tbody tr.selected td {background: var(--row-active-bg-color) !important;}
.stable tbody tr:hover td {filter: brightness(var(--row-highlight-brightness));}
.stable tbody tr td {background: var(--row-even-bg-color);}
.stable.alternate tbody tr:nth-child(odd) td {background: var(--row-odd-bg-color);}
.stable.alternate tbody tr:nth-child(even) td {background: var(--row-even-bg-color);}
.stable-move-header {
  position: absolute;
  background: transparent url(../images/header_move.gif) repeat-x scroll center top;
  top: 0px;
  font: menu;
  padding: 2px 12px 2px 4px;
  line-height: 12px;
  border: 1px solid #0099FF;
  overflow: hidden;
  z-index: 300;
}
.webkit .stable-move-header {background: rgba(255,255,255,0.7);}
.opera .stable-move-header {background: rgba(255,255,255,0.7);}
.stable-active-header {border-color: threedface !important}
.stable-separator-header {
  position: absolute;
  top: 0px;
  font: menu;
  height: 1.5rem;
  width: 2px;
  background: #0099FF;
  padding: 3px 0px;
  z-index: 200;
}
.stable-scrollpos {width: 80%; height: 16px; left: 10%; top: 50%; position: absolute; padding: 0 5px; margin-top: -8px; background: #FFFFFF; color: #AAAAAA; font-size: 11px; font-weight: bold; text-align: center; overflow: hidden; display: none; white-space: nowrap}
.stable-resize-header {
  position: absolute;
  background-color: var(--col-resize-sep-bg-color);
  width: 1px;
  height: 100%;
  overflow: hidden;
  z-index: 100;
}

.rowcover {
  position: absolute;
  left: 0;
  top: 0;
  height: 20px;
  width: 100%;
  background: transparent;
  display: none;
}

.meter-value {
  float: left;
  height: 1.5rem;
  background-color: #99D699;
  border: 1px inset #BBBBBB;
}
.meter-text {
  position: relative;
  text-align: center;
  float: left;
  top: 0.25rem;
  width: 100%;
  height: 0px;
  overflow: visible;
}

.meter-value-start-color { background-color: #FFFF00 }
.meter-value-end-color { background-color: #99D699 }

.Status_Down {background-position: 0px 0px}
.Status_Up {background-position: 0px -16px}
.Status_Incompleted {background-position: 0px -32px}
.Status_Paused {background-position: 0px -48px}
.Status_Error_Down {background-position: 0px -64px}
.Status_Error_Up {background-position: 0px -80px}
.Status_Error {background-position: 0px -96px}
.Status_Completed {background-position: 0px -112px}
.Status_Queued_Down {background-position: 0px -128px}
.Status_Queued_Up {background-position: 0px -144px}
.Status_Up_Down {background-position: 0px -160px}
.Status_Checking {background-position: 0px -176px}
.Status_RSS {background-position: 0px -208px}

.Icon_File {background: transparent url(../images/file.gif) no-repeat left center}
.Icon_Dir {background: transparent url(../images/dir.gif) no-repeat left center}
.Icon_Share {background: transparent url(../images/share.gif) no-repeat left center}
