* {
  box-sizing: unset; /* prevent collision with bootstrap */
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: rgba(0,0,0,1.0);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}
html, body {border: 0; padding: 0; cursor: default; overflow: hidden; background-color: #F5F5F5; height: 100%;}
html, body, input,select,button,textarea{font-family: Tahoma, Arial, Helvetica, sans-serif; font-size: 11px;}
div, td, label, fieldset, textarea, select, input, button, dialog {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
table, tbody, td, tfoot, th, thead, tr {
  /* prevent collision with bootstrap */
  border-collapse: collapse;
  border-color: initial;
  border-style: initial;
  border-width: 1px;
}
fieldset {
  border: 1px solid #D0D0D0;
  border-radius:6px;
  margin: 0.25rem 0;
  padding: 0.25rem 0.5rem;
}
legend {
  color: #000000;
  font-weight: bold;
  float: unset; /* prevent collision with bootstrap */
  width: unset; /* prevent collision with bootstrap */
  padding: unset;
  margin: 0 0.5rem;
  font-size: inherit;
}
textarea {
  border: 1px solid #B0B0B0;
  border-radius: 3px;
  margin: 0.25rem 0;
  padding: 0.25rem;
  resize: none;
  width: 100%;
  height: 10rem;
}
label {
  cursor: pointer;
  margin: 0.15rem;
  overflow: hidden;
}
input[type=checkbox], input[type=radio] {margin: 0.25rem;}
select, input[type=file], input[type=text], input[type=number], input[type=password] {
  border: 1px solid #B0B0B0;
  border-radius: 3px;
  margin: 0.25rem auto;
  padding: 0.25rem;
  width: 100%;
}
button, input[type=button], input[type=submit], .Button {
  border: 1px solid #B0B0B0;
  border-radius: 3px;
  margin: 0.25rem;
  padding: 1px 10px;
  background: var(--btn-bg-color) url(../images/h.gif) repeat-x center bottom;
  width: 80px;
  text-wrap: nowrap;
}
button:disabled, input[type=button]:disabled, a.Button:disabled {
  opacity: 0.3;
  cursor: default;
}
button:not(:disabled):hover, input[type=button]:not(:disabled):hover, a.Button:not(:disabled):hover {
  background-color: #F5F5F5;
}
button:not(:disabled):active, input[type=button]:not(:disabled):active, a.Button:not(:disabled):active {
  background-color: #FAFAFA;
}
span {
  user-select: text;
  -moz-user-select: text;
  -webkit-user-select: text;
  cursor: text;
}

.light-theme { color-scheme: light; }
.dark-theme { color-scheme: dark; }
:root {
  --menu-color: #000000;
  --menu-background-color: #ffffff;
  --menu-border-color: #d0d0d0;

  --menu-disabled-color: #c0c0c0;
  --menu-disabled-background-color: #ffffff;

  --menu-highlight-color: #ffffff;
  --menu-highlight-background-color: #cfdeef;

  --settings-background-color: #fafafa;

  --btn-bg-color: #F0F0F0;
  --header-bg-color: #F0F0F0;
  --header-border-color: #909090;
}
category-list.rightalign-labelsize panel-label::part(size) {
  margin-left: auto;
}
category-list.hide-textoverflow panel-label::part(text) {
  overflow: hidden;
  text-overflow: ellipsis;
}
dialog {
  background-color: var(--settings-background-color);
  border-color: var(--menu-border-color);
}
form{margin:0;}
div#preload {background-image: url(../images/toolbar.png); background-image: url(../images/tstatus.png); background-image: url(../images/t_bg.png); background-image: url(../images/r_bg.gif); background-image: url(../images/i_bg.gif); background-image: url(../images/asc.gif); background-image: url(../images/desc.gif); background-image: url(../images/close.png); background-image: url(../images/file.gif); background-image: url(../images/dir.gif); background-image: url(../images/pnl_open.gif); background-image: url(../images/pnl_close.gif)}
div#cover {z-index: 500; background: #FFFFFF}
div#msg {top: 50%; margin-top: -50px; line-height: 100px; font-weight: bold; background: #FDFDFD; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0}
.pre-theme-load.dark-theme div#cover { background: #181818; }
.pre-theme-load.dark-theme div#msg { color: #fff; background: #151515; border-color: #333; }
.pre-theme-load.dark-theme #loadimg { filter: invert(1); }
div#modalbg {left: 0px; top: 0px; z-index: 500; display: none; opacity: 0.5; background-color: #CCCCCC;}
.konqueror div#modalbg { background: none; }
.ie div#modalbg { filter:alpha(opacity=50); }

div.aright {text-align: right}
div.dlg-window {
  position: absolute;
  left: 0px;
  top: 0px;
  background-color: #FAFAFA;
  color: #000000;
  border: 2px solid #909090;
  border-radius: 8px;
  outline: 0px solid transparent;
  display: none;
  max-width: 95vw;
  max-height: 95vh;
}
div.dlg-window div.row {
  margin: 0.5rem 0;
  padding: 0;
}
div.dlg-window div.row > div {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 0.25rem;
  margin-bottom: 0.1rem;
}
div.fxcaret {overflow: auto}
.dlg-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0.5rem;
  background-color: var(--header-bg-color);
  border-bottom: 1px solid var(--header-border-color);
  border-radius: 10px 10px 0 0;
}
.dlg-header > div:first-child {
  line-height: 2rem;
  font-weight: bold;
  padding-left: 2rem;
  background: no-repeat scroll 0.15rem center;
}
a.dlg-close:link, a.dlg-close:visited {
  display: block;
  height: 14px;
  width: 14px;
  margin: auto 0.5rem;
  background: transparent url(../images/close.png) no-repeat scroll left center;
}
a.dlg-close:hover {background-position-x: -14px;}
a.dlg-close:active {background-position-x: -28px;}

div#sc {width: 150px; right: 57px; top: 40px; position: absolute; display: none; border: 1px solid #808080; background-color: #E0E0E0; z-index: 100}
div#sc ul {margin: 0; padding: 0; list-style: none}
div#sc ul li {margin: 0; padding: 0}
div#sc li div {line-height: 14px; padding: 4px; font-weight: bold; font-size: 11px;}
div#sc li.se_act div {background-color: #808080; color: #FFFFFF}
ul.CMenu {position: absolute; width: 150px; left: 0px; top: 0px; display: none; border: 1px solid #A0A0A0; border-right: 2px solid #A0A0A0; border-bottom: 2px solid #808080; background: #F0F0F0; text-decoration: none; padding: 2px 0 0 2px; margin: 0; list-style-type: none; z-index: 1000}
ul.CMenu li {float: left; margin-right: 1px; position: relative; width: 150px; background: var(--menu-background-color); }
ul.CMenu li a {display: block; line-height: 16px; padding: 3px 4px 3px 16px; font-weight: normal; background-color: var(--menu-background-color); color: var(--menu-color);}
ul.CMenu li ul li a.dis, ul.CMenu li a.dis { color: var(--menu-disabled-color); }
ul.CMenu li hr {width: 90%; border-top: 1px solid var(--menu-border-color); height: 0px; margin-top: 2px; margin-bottom: 2px; }
.ie ul.CMenu li hr { line-height:1px; font-size:1px; margin: 0 }
ul.CMenu li a.exp {background: transparent url(../images/menuexp.gif) no-repeat scroll 140px center; }
ul.CMenu li a.sel {background: transparent url(../images/menusel.gif) no-repeat scroll 4px center}
ul.CMenu li a:not(.dis):hover {background-color: var(--menu-highlight-background-color); color: var(--menu-highlight-color)}

ul.CMenu li:hover ul {display: block; position: absolute; top: 0; left: 146px; width:150px;}
ul.CMenu li:hover ul li ul {display: none;}
ul.CMenu li:hover ul.left {left: -150px}

span.htkey {text-align:right; position: absolute; right: 16px; z-index:100}
#sel {width: 0px; height: 0px; left: 0px; top: 0px; border: 1px dotted #000000; display: none; z-index: 1000}

div#t {
  height: auto;
  background: #F0F0F0 url(../images/t_bg.png) repeat-x center 0.25rem;
  border-bottom: 1px solid #D0D0D0;
  margin-bottom: 5px;
  white-space: nowrap;
}
#top-menu {
  background-color: #F0F0F0;
  border-bottom: 1px solid #D0D0D0;
  z-index: 30;
}
#top-menu .btn-group {
  flex-direction: column;
}
.dropdown-toggle span {
  /* Push dropdown triangle to the right end */
  margin-right: auto;
}
div#t button.navbar-toggler {
  background-color: var(--btn-bg-color);
  width: 5rem;
}
div#t a {padding: 3px;}
#t .navbar-nav a:not(.dropdown-item):hover {
  filter: brightness(1.3);
}
#t .navbar-nav a:active {padding: 4px 2px 2px 4px;}
div#t div.TB_Separator {
  align-self: stretch;
  flex: 0 0 1px;
  margin: 0.25rem;
  padding: 0;
  border: 0;
  background-color: #A0A0A0;
}
div#t .nav-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  font-weight: bold;
  border: 1px solid #A0A0A0;
  border-radius: 8px;
  background-color: var(--btn-bg-color);
  background-image: none;
  margin: 0.15rem;
}
div.navbar-nav div.nav-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
div#add, div#remove, div#start, div#pause, div#stop, div#search, div#rss, div#setting {background-image: url(../images/toolbar.png);}
div#add {background-position-x: -24px;}
div#remove {background-position-x: -72px;}
div#start {background-position-x: -96px;}
div#pause {background-position-x: -120px;}
div#stop {background-position-x: -144px;}
div#search {background-position-x: -216px;}
div#rss {background-position-x: -240px;}
div#setting {background-position-x: -264px;}
div#moveu {background: url(../images/toolbar.png) -168px center}
div#moved {background: url(../images/toolbar.png) -192px center}
div#help {background: url(../images/quest.gif) 0px center}
div#plugins {background: url(../images/plugin.png) 0px center}
#go {background: url(../images/go.gif) 0px center; }

#ind {
  background: transparent url(../images/ajax-loader.gif) no-repeat 0px center;
  width: 32px;
  height: 32px;
  cursor: default;
}

#pview_save_view_button { align-self: center; width: 38px; height: 19px; padding: 0px; line-height: 2px; font-size: 19px;  }

a {color: #686868;}
#maincont {height: calc(100dvh - 36px - 5px - 25px - 5px);}
.offcanvas-header .btn-close {background-color: var(--btn-bg-color);}
#offcanvas-sidepanel {
  background-color: #FFFFFF;
}
#side-panel {
  border: 1px solid #A0A0A0;
}
#list-table {
  border: 1px solid #A0A0A0;
  background-color: #FFFFFF;
}

.stable-icon {background-image: url(../images/tstatus.png); background-repeat: no-repeat}
.Status_Down {background-position: 0px 0px}
.Status_Up {background-position: 0px -16px}
.Status_Incompleted {background-position: 0px -32px}
.Status_Paused {background-position: 0px -48px}
.Status_Error_Down {background-position: 0px -64px}
.Status_Error_Up {background-position: 0px -80px}
.Status_Error {background-position: 0px -96px}
.Status_Completed {background-position: 0px -112px}
.Status_Queued_Down {background-position: 0px -128px}
.Status_Queued_Up {background-position: 0px -144px}
.Status_Up_Down {background-position: 0px -160px}
.Status_Checking {background-position: 0px -176px}
.Status_RSS {background-position: 0px -208px}

div#HDivider, div#VDivider {flex: 0 0 5px;}

div#stg {width: 95vw;}
div#stg_c {
  display: flex;
  flex-direction: row;
  background-color: var(--settings-background-color);
}
div#stg-pages {
  padding: 0 0.5rem;
  height: 550px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  overflow-x: auto;
}
#stg-header {background-image: url(../images/settings.gif);}

div#stg .lm {
  flex: 0 0 auto;
  padding: 0.25rem 0.5rem;
  background-color: var(--menu-background-color);
  border: 1px solid var(--menu-border-color);
  border-radius: 0 0 0 6px;
  overflow: hidden auto;
}
.ie div#stg .lm {width: 125px; position: static;}
.ie9 div#stg .lm {position: static}
.ie div#stg {width: 605px;}

.lm li {
  margin: 0 0.5rem;
  padding: 0;
  line-height: 1.5rem;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}
.lm li div {
  display: flex;
  flex-direction: column;
  width: 1rem;
  align-items: stretch;
}
.lm li div > div {
  flex-grow: 1;
  border-left: 2px dotted #909090;
}
.lm li div > div:first-of-type {
  border-bottom: 1px dotted #909090;
}
.lm li div > div:last-of-type {
  border-top: 1px dotted #909090;
}
.lm li:first-of-type div > div:first-of-type {
  border-left: none;
}
.lm li:last-of-type div > div:last-of-type {
  border-left: none;
}
.lm ul {width: 100%; margin: 0; padding: 0; list-style-position: inside; list-style: none}
.lm ul.child {margin: 0 0 0 5px; display: none}
.lm ul.child li {margin: 0 0 0 9px}
.lm li div.toggle {width: 10px; height: 10px; background: transparent url(../images/exp.gif) no-repeat scroll center center; float: left; margin: 3px 0 0 -16px; cursor: pointer}
.lm li a {
  color: #000000;
  padding: 1px 2px;
  flex-grow: 1;
}
.lm li a.focus {background-color: #E0E0E0}
.ie .lm li a {margin: 0 0 0 -5px; padding: 0}
.stg_con {
  display: none;
  margin-bottom: auto;
  background-color: var(--settings-background-color);
  overflow: hidden auto;
}
.stg_con legend {
  position: sticky;
  top: 0;
  background-color: var(--settings-background-color);
}
.ie9 .stg_con {position: static}
.stg_con table {width: 100%}
.stg_con td {font-weight: normal; height: 19px}
.stg_con td.alr {text-align: right}
.stg_con td:first-child {
  text-wrap: nowrap;
  text-align: right;
  font-weight: bold;
  padding-right: 0.5rem;
}
.stg_con th {
  text-align: center;
  font-weight: bold;
  text-wrap: nowrap;
}
input.disabled {background-color: #FAFAFA; color: #C0C0C0; border: 1px solid #C0C0C0}
td.disabled, label.disabled, span.disabled, div.disabled {color: #C0C0C0; cursor: default}
.ie7 fieldset div {padding: 0px}
div.indent {padding-left: 16px}
#st_gl {display: block}
#st_que, #st_sch, #st_dc {display: none}
a {text-decoration: none}
select.cols {border: 1px solid #808080; font-size: 11px;  padding: 2px; width: 120px}
div#dragmask {width: 10px; height: 10px; left: 0px; top: 0px; position: absolute; z-index: 5000; display: none; border: 1px dotted #A0A0A0}
div#tdetails {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  flex: 1 1 auto;
  background-color: #F5F5F5;
}
div#tdetails a.h {margin: 0}
div#tdcont {
  background: #FFFFFF;
  border: 1px solid #D0D0D0;
}
div.tab {
  height:100%;
  background: #F5F5F5;
  overflow: auto;
  display: flex;
  flex-direction: column;
}
div#lcont {line-height: 1rem; background: #FFFFFF}
div#lcont div.mono {font-family: monospace; line-height: 1rem; background: #F5F5F5; white-space: pre}
div#lcont .std {padding: 2px}

div#gcont span.det-hdr {font-weight: bold;}
div#gcont div.row.Header {font-size: 14px; font-weight: bold; background: #FCFCFC; padding: 0.5rem;}
div#gcont div.row:not(.Header) {padding: 0 0.3rem; word-break: break-all;}
div#gcont div.row > div {padding-top: 0.25rem; padding-bottom: 0.25rem;}

div.graph_tab {background-color: #FFFFFF; overflow: hidden; display: block; -moz-user-focus: normal; -moz-user-input: enabled; line-height: 11px; color: #545454;}
.graph_tab_grid,.graph_tab_legend {display: none;}
.graph_tab_grid { background-color: transparent; border: 2px solid #545454; }
.graph_tab_legend { background-color: #F0F0F0; border: 0px none transparent; }
.graph_tab_tooltip { position: absolute; border: 1px solid #fdd; padding: 2px; background-color: #fee; color: black; font-size: 11px; font-weight: bold; font-family: Tahoma, Arial, Helvetica, sans-serif; opacity: 0.80; }

div.table_tab {
  -moz-user-focus: normal;
  -moz-user-input: enabled;
}

div.cont {padding: 6px;}

.tabbar li.nav-item a.nav-link {
  padding: 0.3rem;
  margin-left: 0.2rem;
  border: 1px solid #D0D0D0;
  border-bottom: none;
  background-color: #FFFFFF;
  color: unset;
  text-wrap: nowrap;
}
.tabbar li.nav-item a.nav-link:hover {
  border-top: 2px solid #FFC73C;
  color: unset;
}
.tabbar li.nav-item.selected a.nav-link {
  border-top: 2px solid #FFC73C;
  color: unset;
}

#dlgLabel {max-width: 350px;}
#dlgLabel-header {background-image: url(../images/label.gif)}
#padd {width: 250px;}
#padd-header {background-image: url(../images/props.gif)}
#dlgAbout {max-width: 300px;}
#dlgAbout-header {background-image: url(../images/about.gif)}
#dlgHelp {max-width: 300px;}
#dlgHelp-header {background-image: url(../images/about.gif)}

#dlgProps {max-width: 450px;}
#dlgProps-header {background-image: url(../images/props.gif)}
#prop-trackers {width: 100%; height: 70px; background: #FFFFFF; border: 1px solid #D0D0D0}
#prop-seed_ratio {width: 40px}

#yesnoDlg {width: 280px; height: auto; min-height: 100px}
#yesnoDlg-header {background-image: url(../images/error.gif)}
#yesnoDlg div.content {width: 260px; margin: 5px; padding: 5px; line-height: 16px}
#yesnoDlg div.content input {margin-top: 5px}

span#loadimg {padding: 20px; background: transparent url(../images/ajax-loader.gif) no-repeat center center; }
.webkit div#msg {position: fixed;}
.konqueror div#msg {position: fixed;}

.Icon_File {background: transparent url(../images/file.gif) no-repeat left center}
.Icon_Dir {background: transparent url(../images/dir.gif) no-repeat left center}
.Icon_Share {background: transparent url(../images/share.gif) no-repeat left center}

#tadd-header {background-image: url(../images/world.gif)}

.konqueror div#tadd label { width: 80px; }
.konqueror div#tadd { height: 290px; }
.konqueror #st_con { height: 340px; overflow: auto; }

#StatusBar {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 0;
  border-top: 1px solid #A0A0A0;
  background-color: #FFFFFF;
  margin-top: 5px;
  color: #000000;
  white-space: nowrap;
}
#StatusBar .icon {
  height: 16px;
  width: 16px;
  margin: 0 0.25rem;
}
#StatusBar table { line-height: 24px; }
#st_up .icon {
  background: url(../images/status_up.gif) center no-repeat;
}
#st_down .icon {
  background: url(../images/status_down.gif) center no-repeat;
}
.status-cell {
  padding: 0 0.25rem;
  margin: 0;
  min-height: 24px;
  border-right: dotted 1px #A0A0A0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.sthdr { font-weight: bold; padding-right: 3px; text-align: right; }
.stval {
  padding-right: 3px;
  overflow: hidden;
  min-width: 3rem;
}
.speedEdit { width: 320px }
#decimalDigitEdit input[type=number] {
  min-width: 3rem;
}
.optionColumn {
  display: flex;
  justify-content: space-between;
  flex-flow: column wrap;
  margin-bottom: 0.5rem;
}
.optionColumn div { display:flex; align-items: center; padding-left: 0; }
.buttons-group-row {margin: 0.25rem; gap: 0.25rem; display: flex; flex-direction: row;}

.ie fieldset {padding: 5px}
div.space {flex-grow: 1;}
#servertime { text-align: center }
#viewrows { text-align: center; }

@media only screen and (min-width: 1280px) {
  .desktop { display: inline-block; }
}

@media only screen and (max-width: 1279px) {
  .desktop { display: none; }
}

/* Custom break point settings for responsiveness */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Custom rules for medium devices */
div#tadd {max-width: 95vw;}
div.dlg-window .buttons-list {
  margin: 0.5rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: row;
  justify-content: start;
  flex-wrap: wrap;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  /* Custom rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Custom rules for medium devices */
  div#t {
    height: 36px;
  }
  #top-menu {
    background-color: transparent;
    border-bottom: none;
    z-index: auto;
  }
  #t .navbar-nav a:not(.dropdown-item):hover {
    background: transparent url(../images/tb_bg.gif) no-repeat scroll left center;
    filter: none;
  }
  div#t .nav-link {
    border: none;
    border-radius: 0;
    background-color: transparent;
  }
  div#HDivider {cursor: e-resize;}
  div#VDivider {cursor: n-resize;}
  div#HDivider:hover, div#VDivider:hover {background: #A0A0A0;}
  div#tadd {min-width: 600px;}
  div.dlg-window .buttons-list {
    margin: 1rem 0.5rem;
    gap: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex-wrap: nowrap;
  }
  div#stg {width: 660px;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* Custom rules for large devices */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* Custom rules for x-large devices */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  /* Custom rules for xx-large devices */
}
