* { -webkit-touch-callout: none; -webkit-tap-highlight-color: rgba(0,0,0,1.0); }
html, body {
  border: 0;
  margin: 0;
  padding: 0;
  cursor: default;
  overflow: hidden;
  background-color: #F5F5F5;
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: stretch;
}
input[type=file] {border: solid 1px #676774; border-radius: 3px; width: 100%;}
.light-theme { color-scheme: light; }
.dark-theme { color-scheme: dark; }
:root {
  --menu-color: #000000;
  --menu-background-color: #ffffff;
  --menu-border-color: #d0d0d0;

  --menu-disabled-color: #c0c0c0;
  --menu-disabled-background-color: #ffffff;

  --menu-highlight-color: #ffffff;
  --menu-highlight-background-color: #cfdeef;

  --settings-background-color: #fafafa;
}
category-list.rightalign-labelsize panel-label::part(size) {
  margin-left: auto;
}
category-list.hide-textoverflow panel-label::part(text) {
  overflow: hidden;
  text-overflow: ellipsis;
}
dialog {
  background-color: var(--settings-background-color);
  border-color: var(--menu-border-color);
}
form{margin:0;}
div#preload {width: 0px; height: 0px; display: none; background-image: url(../images/toolbar.png); background-image: url(../images/tstatus.png); background-image: url(../images/t_bg.png); background-image: url(../images/r_bg.gif); background-image: url(../images/i_bg.gif); background-image: url(../images/asc.gif); background-image: url(../images/desc.gif); background-image: url(../images/close.png); background-image: url(../images/file.gif); background-image: url(../images/dir.gif); background-image: url(../images/pnl_open.gif); background-image: url(../images/pnl_close.gif)}
div#cover {width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; z-index: 500; background: #FFFFFF}
div#msg {width: 100%; height: 100px; position: relative; top: 50%; margin-top: -50px; line-height: 100px; font-weight: bold;  text-align: center; background: #FDFDFD; border-top: 1px solid #D0D0D0; border-bottom: 1px solid #D0D0D0}
.pre-theme-load.dark-theme div#cover { background: #181818; }
.pre-theme-load.dark-theme div#msg { color: #fff; background: #151515; border-color: #333; }
.pre-theme-load.dark-theme #loadimg { filter: invert(1); }
div#modalbg {width: 100%; height: 100%; left: 0px; top: 0px; position: absolute; z-index: 500; display: none; opacity: 0.5; background-color: #CCCCCC;}
.konqueror div#modalbg { background: none; }
.ie div#modalbg { filter:alpha(opacity=50); }

div.aright {text-align: right}
div.dlg-window {position: absolute; left: 0px; top: 0px; background-color: #FAFAFA; color: #000000; border: 2px solid #909090; display: none; overflow: hidden}
div.fxcaret {overflow: auto}
div.dlg-header {padding: 2px 24px; line-height: 20px; background: #F0F0F0 url(../images/blank.gif) no-repeat scroll 4px center; font-weight: bold; border-bottom: 1px solid #909090}
a.dlg-close:link, a.dlg-close:visited {width: 14px; height: 14px; margin: 5px; background: transparent url(../images/close.png) no-repeat scroll left center; float: right; border: 0}
a.dlg-close:hover {width: 14px; height: 14px; background: transparent url(../images/close.png) no-repeat scroll -14px center; float: right; border: 0}
a.dlg-close:active {width: 14px; height: 14px; background: transparent url(../images/close.png) no-repeat scroll -28px center; float: right; border: 0}

div#sc {width: 150px; right: 57px; top: 40px; position: absolute; display: none; border: 1px solid #808080; background-color: #E0E0E0; z-index: 100}
div#sc ul {margin: 0; padding: 0; list-style: none}
div#sc ul li {margin: 0; padding: 0}
div#sc li div {line-height: 14px; padding: 4px; font-weight: bold;}
div#sc li.se_act div {background-color: #808080; color: #FFFFFF}
ul.CMenu {width: 150px; left: 0px; top: 0px; display: none; border: 1px solid #A0A0A0; border-right: 2px solid #A0A0A0; border-bottom: 2px solid #808080; background: #F0F0F0; text-decoration: none; padding: 2px 0 0 2px; margin: 0; list-style-type: none; z-index: 1000}
ul.CMenu li {float: left; margin-right: 1px; position: relative; width: 150px; background: var(--menu-background-color); }
ul.CMenu li a {display: block; line-height: 16px; padding: 3px 4px 3px 16px; font-weight: normal; background-color: var(--menu-background-color); color: var(--menu-color);}
ul.CMenu li ul li a.dis, ul.CMenu li a.dis { color: var(--menu-disabled-color); }
ul.CMenu li hr {width: 90%; border-top: 1px solid var(--menu-border-color); height: 0px; margin-top: 2px; margin-bottom: 2px; }
.ie ul.CMenu li hr { line-height:1px; margin: 0 }
ul.CMenu li a.exp {background: transparent url(../images/menuexp.gif) no-repeat scroll 140px center; }
ul.CMenu li a.sel {background: transparent url(../images/menusel.gif) no-repeat scroll 4px center}
ul.CMenu li a:not(.dis):hover {background-color: var(--menu-highlight-background-color); color: var(--menu-highlight-color)}

ul.CMenu li:hover ul {display: block; position: absolute; top: 0; left: 146px; width:150px;}
ul.CMenu li:hover ul li ul {display: none;}
ul.CMenu li:hover ul.left {left: -150px}

span.htkey {text-align:right; position: absolute; right: 16px; z-index:100}
#sel {width: 0px; height: 0px; position: absolute; left: 0px; top: 0px; border: 1px dotted #000000; display: none; z-index: 1000}

div#t {
  background: #F0F0F0 url(../images/t_bg.png) repeat-x center center;
  border-bottom: 1px solid #D0D0D0;
  white-space: nowrap;
  box-sizing: border-box;
  flex: 0 0 36px;
}
div.top-menu-icon {
  width: 24px;
  height: 24px;
  margin: 1px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}
button.top-menu-item:active {
  position: relative;
  top: 0.1rem;
  left: 0.1rem;
}
button.top-menu-item:hover {
  filter: brightness(1.3);
}

button#mnu_add div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -24px;}
button#mnu_remove div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -72px;}
button#mnu_start div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -96px;}
button#mnu_pause div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -120px;}
button#mnu_stop div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -144px;}
button#mnu_settings div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -264px;}
button#mnu_help div.top-menu-icon {background-image: url(../images/quest.gif);}
button#mnu_search div.top-menu-icon {background-image: url(../images/toolbar.png); background-position-x: -216px;}
button#mnu_go div.top-menu-icon {background-image: url(../images/go.gif);}
button#mnu_plugins div.top-menu-icon {background-image: url(../images/plugin.png);}
div#t div#ind {height: 32px; width: 32px; background: transparent url(../images/ajax-loader.gif) no-repeat 0px center; cursor: default; }
div#t div#moveu {background: transparent url(../images/toolbar.png) no-repeat -168px center}
div#t div#moved {background: transparent url(../images/toolbar.png) no-repeat -192px center}
input#query {min-width: 30px;}

input.Textbox, button, input.Button, select {border: 1px solid #B0B0B0; padding: 2px}
Input.TextboxShort {border: 1px solid #B0B0B0; padding: 2px; width: 50px}
Input.TextboxMid {border: 1px solid #B0B0B0; padding: 2px; width: 110px}
Input.TextboxLarge {border: 1px solid #B0B0B0; padding: 2px; width: 220px}
Input.TextboxVShort {border: 1px solid #B0B0B0; padding: 2px; width: 30px}
button, input.Button {padding: 1px 10px; background: #F0F0F0 url(../images/h.gif) repeat-x center bottom; width: 80px; border: 1px solid #A0A0A0; cursor: pointer }
button[disabled],input.Button[disabled] { opacity: 0.3; cursor: default }
button:not([disabled]):hover, input.Button:not([disabled]):hover { background-color: #F5F5F5; }
button:not([disabled]):hover:active, input.Button:not([disabled]):hover:active { background-color: #FAFAFA; }
#pview_save_view_button { align-self: center; width: 38px; height: 19px; padding: 0px; line-height: 2px; font-size: 19px;}

select {margin-top: 5px}
a {color: #686868}
div#maincont {
  box-sizing: border-box;
  flex: 1 0 auto;
  max-height: calc(100vh - 36px - 25px - 1rem);
}

#CatList {
  display: block;
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: #FFFFFF;
  overflow: hidden auto;
}
#cat-division {
  min-width: 180px;
  border: 1px solid #A0A0A0;
  box-sizing: border-box;
}
#list-division {
  min-height: 300px;
  border: solid 1px #A0A0A0;
  box-sizing: border-box;
}

.stable-icon {background-image: url(../images/tstatus.png); background-repeat: no-repeat}
.Status_Down {background-position: 0px 0px}
.Status_Up {background-position: 0px -16px}
.Status_Incompleted {background-position: 0px -32px}
.Status_Paused {background-position: 0px -48px}
.Status_Error_Down {background-position: 0px -64px}
.Status_Error_Up {background-position: 0px -80px}
.Status_Error {background-position: 0px -96px}
.Status_Completed {background-position: 0px -112px}
.Status_Queued_Down {background-position: 0px -128px}
.Status_Queued_Up {background-position: 0px -144px}
.Status_Up_Down {background-position: 0px -160px}
.Status_Checking {background-position: 0px -176px}
.Status_RSS {background-position: 0px -208px}

div#HDivider, div#VDivider {font-size: 0; align-self: stretch;}
div#HDivider { width: 5px; cursor: e-resize; }
div#VDivider { height: 5px; cursor: n-resize; }
div#dividerDrag { width: 5px; height: 5px; padding: 0; margin: 0; background: #A0A0A0; position: absolute; display: none }

div#stg {width: 600px; height: 560px; position: absolute; left: 0px; top: 50px; display: none; overflow: visible}
div#stg_c {overflow: hidden}
div#stg-header { background-image: url(../images/settings.gif); }

div#stg .lm {width: 120px; height: 511px; margin: 5px; margin-right: 0; padding: 5px; float: left; position: relative; background-color: var(--menu-background-color); border: 1px solid var(--menu-border-color); overflow: auto}
.ie div#stg .lm {width: 125px; position: static;}
.ie9 div#stg .lm {position: static}
.ie div#stg {width: 605px;}
div.op100l {width: 400px; float: left}
div.op50l {width: 200px; float: left; clear: left}
div.op50l select {padding: 0}
div.algnright {text-align: right; clear: right}
.ie div.op50l {clear: none}
.ie div.algnright {clear: none}
.ie9 div.op50l {clear: left}
.ie9 div.algnright {clear: right}

.lm ul {width: 100%; margin: 0; padding: 0; list-style-position: inside; list-style: none}
.lm li {margin: 0 5px; padding: 0 12px; line-height: 16px !important; background: transparent url(../images/bul.gif) no-repeat scroll left center}
.lm ul.child {margin: 0 0 0 5px; display: none}
.lm ul.child li {margin: 0 0 0 9px}
.lm li.first {background: transparent url(../images/bul_f.gif) no-repeat scroll left bottom}
.lm li.last {background: transparent url(../images/bul_l.gif) no-repeat scroll left top}
.lm li div.toggle {width: 10px; height: 10px; background: transparent url(../images/exp.gif) no-repeat scroll center center; float: left; margin: 3px 0 0 -16px; cursor: pointer}
.lm li a {color: #000000; padding: 1px 2px}
.lm li a.focus {background-color: #E0E0E0}
.ie .lm li a {margin: 0 0 0 -5px; padding: 0}
.stg_con { display: none; float: right; position: relative; width: 450px; height: 500px; margin: 4px; background-color: var(--settings-background-color); }
.ie9 .stg_con {position: static}
fieldset {margin: 4px}
* > fieldset {border: 1px solid #D0D0D0; -moz-border-radius: 6px; -webkit-border-radius:6px; border-radius:6px;}
.stg_con table {width: 100%}
.stg_con td {font-weight: normal; height: 19px}
.stg_con td.alr {text-align: right}
.stg_con td input {margin: 0 4px; padding: 1px 4px}
.stg_con select {margin: 1px 4px; padding: 1px 4px}
input.num {text-align: right; width: 50px}
input.str {text-align: left; width: 130px}
td label, div label {cursor: pointer}
input.disabled {background-color: #FAFAFA; color: #C0C0C0; border: 1px solid #C0C0C0}
td.disabled, label.disabled, span.disabled, div.disabled {color: #C0C0C0; cursor: default}
.ie7 fieldset div {padding: 0px}
legend {color: #000000; font-weight: bold}
div.indent {padding-left: 16px}
#st_gl {display: block}
#st_que, #st_sch, #st_dc {display: none}
#st_btns {float: right; position: relative; width: 450px; height: 20px; padding: 3px; text-align: right; }
#st_btns input {margin-left: 5px}
a {text-decoration: none}
#st_ao_h {width: 420px; overflow: auto; }
#st_ao_h table {width: 400px}
select.cols {border: 1px solid #808080; padding: 2px; width: 120px}
div#dragmask {width: 10px; height: 10px; left: 0px; top: 0px; position: absolute; z-index: 5000; display: none; border: 1px dotted #A0A0A0}
div#tdetails {
  background-color: #F5F5F5;
  box-sizing: border-box;
}
div#tdetails a.h {margin: 0}
div#tdcont {height: 200px; background: #FFFFFF; border: 1px solid #D0D0D0; padding: 0 2px 0 2px; overflow: hidden }
div#mainlayout {
  overflow: hidden auto;
  width: 100%;
}

div.tab { height:100%; background: #F5F5F5; overflow: auto }
div#lcont {background: #FFFFFF}
div#lcont div.mono {font-family: monospace; background: #F5F5F5; white-space: pre}
div#lcont div.std {padding: 2px}

div#gcont div.Header {
  font-weight: bold;
  background: #FCFCFC;
}
div#gcont div.row {
  margin: 0;
  padding: 0.25rem 0.5rem;
}
div#gcont div.row div {
  margin: 0;
  padding: 0.25rem 0;
}

div.graph_tab {background-color: #FFFFFF; overflow: hidden; display: block; -moz-user-select: none; -moz-user-focus: normal; -moz-user-input: enabled; user-select: none; line-height: 11px; color: #545454;}
.graph_tab_grid,.graph_tab_legend {
	display: none;
}
.graph_tab_grid { background-color: transparent; border: 2px solid #545454; }
.graph_tab_legend { background-color: #F0F0F0; border: 0px none transparent; }
.graph_tab_tooltip { position: absolute; border: 1px solid #fdd; padding: 2px; background-color: #fee; color: black; font-weight: bold; font-family: Tahoma, Arial, Helvetica, sans-serif; opacity: 0.80; }

div.table_tab {background-color: #FFFFFF; -moz-user-select: none; -moz-user-focus: normal; -moz-user-input: enabled; user-select: none; }

div.cont {padding: 6px;}

.tabbar {height: 18px; margin: 0; padding: 0; list-style-type: none; text-align: left}
.tabbar li {margin: 0; padding: 0; display: inline; white-space: nowrap;}
.tabbar li a {position: relative; top: 3px; text-decoration: none; border: 1px solid #D0D0D0; border-bottom: 0; margin: -5px 1px 0 1px; padding: 1px 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; -webkit-border-top-left-radius:5px; -webkit-border-top-right-radius:5px; border-top-right-radius:5px; border-top-left-radius:5px; vertical-align: top; cursor: pointer}
.tabbar li a:hover {border-top: 2px solid #FFC73C}
.tabbar li.selected a {margin: 0 -2px 0 0; padding: 1px 7px 4px 7px; position: relative; top: 2px; vertical-align: top; border-top: 2px solid #FFC73C; background: #FFFFFF; color: #000000}
div#dlgLabel {width: 250px; height: 140px}
div#dlgLabel div.dlg-header {background-image: url(../images/label.gif)}
div#dlgLabel div.content {width: 230px; margin: 5px; padding: 5px; line-height: 16px}
div#dlgLabel div.content input {margin-top: 5px}
#txtLabel {width: 200px}
div#padd {width: 250px; height: 120px}
div#padd div.dlg-header {background-image: url(../images/props.gif)}
div#padd div.content {width: 230px; margin: 5px; padding: 5px; line-height: 16px}
div#padd div.content input {margin-top: 5px}
#peerIP {width: 200px}
div#dlgAbout {width: 250px; height: 250px}
div#dlgAbout div.dlg-header {background-image: url(../images/about.gif)}
div#dlgAbout div.content {width: 230px; margin: 5px; padding: 5px}
div#dlgHelp {width: 250px; height: 250px}
div#dlgHelp div.dlg-header {background-image: url(../images/about.gif)}
div#dlgHelp div.content {width: 230px; margin: 5px; padding: 5px}

div#dlgProps {width: 395px; height: 215px}
div#dlgProps div.dlg-header {background-image: url(../images/props.gif)}
div#dlgProps div.content {width: 380px; margin-left: 5px; }
div#dlgProps textarea#prop-trackers {width: 100%; height: 70px; background: #FFFFFF; border: 1px solid #D0D0D0}
div#dlgProps fieldset {margin-bottom: 5px; }
div#dlgProps fieldset div {line-height: 16px; }
div#dlgProps fieldset div.props-spacer {width: 90%; float: left}
input#prop-tracker_numwant {width: 60px; float: right}
input#prop-ulslots {width: 60px; float: right}
input#prop-peers_min {width: 60px; float: right}
input#prop-peers_max {width: 60px; float: right}
input#prop-seed_ratio {width: 40px}

div#yesnoDlg {width: 280px; height: auto; min-height: 100px}
div#yesnoDlg div.dlg-header {background-image: url(../images/error.gif)}
div#yesnoDlg div.content {width: 260px; margin: 5px; padding: 5px; line-height: 16px}
div#yesnoDlg div.content input {margin-top: 5px}

span#loadimg {padding: 20px; background: transparent url(../images/ajax-loader.gif) no-repeat center center; }
.webkit div#msg {position: fixed;}
.konqueror div#msg {position: fixed;}

.Icon_File {background: transparent url(../images/file.gif) no-repeat left center}
.Icon_Dir {background: transparent url(../images/dir.gif) no-repeat left center}
.Icon_Share {background: transparent url(../images/share.gif) no-repeat left center}

div#HDivider:hover, div#VDivider:hover { background: #A0A0A0; }
textarea { overflow: auto; }

div#tadd-header {background-image: url(../images/world.gif)}
div#tadd {display: none; left: 100px; top: 100px; position: absolute; margin: 0 auto }
div#tadd .container {padding: 0;}
div#tadd .row {margin: 0 0 0.25rem 0; padding: 0;}
div#tadd .row > div {padding: 0 0.25rem; margin-bottom: 0.1rem;}
div#tadd fieldset {margin: 0 0 0.25rem 0; padding: 0.25rem;}

.konqueror div#tadd label { width: 80px; }
.konqueror div#tadd { height: 290px; }
.konqueror #st_con { height: 340px; overflow: auto; }

#StatusBar {
  box-sizing: border-box;
  flex: 0 0 25px;
  border-top: 1px solid #A0A0A0;
  background-color: #FFFFFF;
  height: 24px;
  color: #000000;
  white-space: nowrap;
  overflow: hidden;
}
.status-cell {
  flex-shrink: 0;
  border-right: 1px solid #A0A0A0;
  display: flex;
  flex-direction: row;
  align-items: center;
}
#st_up_icon {
  background:url(../images/status_up.gif) center no-repeat;
  width: 24px;
  height: 24px;
}
#st_down_icon {
  background:url(../images/status_down.gif) center no-repeat;
  width: 24px;
  height: 24px;
}
.sthdr {
  font-weight: bold;
  padding-right: 0.1rem;
  text-align: right;
}
.stval {
  padding-left: 0.1rem;
  padding-right: 0.3rem;
  min-width: 2rem;
}
.speedEdit { width: 320px }
.decimalDigitEdit input[type=number] { padding: 1px; margin: 0; width: 3em; }
.decimalDigitEdit tr:first-child th { text-align: center; }
.decimalDigitEdit tr th { text-align: left; }
.userInterfaceOptions {  max-height: 180px; }
.userInterfaceOptions > div { max-width: 50% }
.optionColumn { display: flex; justify-content: space-between; flex-flow: column wrap; }
.optionColumn input[type=number],.optionColumn select { padding: 1px; margin: 0.1em 0.5em; width: 6em; }
.optionColumn div { display:flex; align-items: center; padding-left: 0; }
.statuscell td { padding: 0 }
.buttons-group-row {margin: 0.25rem; gap: 0.25rem; display: flex; flex-direction: row;}
#st_fd .sthdr { padding-left: 8px; }
#st_fd .stval { text-align: center; width: 4.3em; }
#st_system .sthdr { padding-left: 8px }

.ie fieldset {padding: 5px}
div.space {flex-grow: 1;}
#servertime { text-align: center }
#viewrows { text-align: center; }

#bf {white-space:pre}

@media only screen and (min-width: 1280px) {
  .desktop { display: inline-block; }
}

@media only screen and (max-width: 1279px) {
  .desktop { display: none; }
}

@media only screen and (min-width: 730px) {
  .mobile-search { display: inline-block; }
}

@media only screen and (max-width: 729px) {
  .mobile-search { display: none; }
}

/* Custom break point settings for responsiveness */

/* X-Small devices (portrait phones, less than 576px) */
/* No media query for `xs` since this is the default in Bootstrap */
/* Custom rules for medium devices */
html, body, input, select, button, textarea {
  font-family: Tahoma, Arial, Helvetica, sans-serif; 
  font-size: 16px;
}
div#t div.top-menu-item, div#t button.top-menu-item {
  width: auto;
  padding: 0.1rem;
  margin: 0;
  border: 1px solid #A0A0A0;
  border-radius: 6px;
}
div.top-menu {
  background-color: #F0F0F0;
  z-index: 100;
  border: solid 1px #A0A0A0;
  border-radius: 3px;
  position: absolute;
  top: 36px;
  left: 0;
  width: calc(100vw - 1rem - 2px);
}
div#t .separator {
  width: auto;
  height: 1px;
  padding: 0;
  border: 0;
  background-color: #A0A0A0;
  align-self: stretch;
}
div#tadd {max-width: 95vw;}
div#tadd .buttons-list {
  margin: 0.5rem;
  gap: 0.25rem;
  display: flex;
  flex-direction: column;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 
  /* Custom rules for small devices */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
  /* Custom rules for medium devices */
  html, body, input, select, button, textarea {
    font-size: 11px;
  }
  div.top-menu {
    background-color: transparent;
    border: none;
    position: static;
  }
  div#t .separator {
    width: 1px;
    height: auto;
  }  
  div#tadd {min-width: 600px;}
  div#tadd .buttons-list {
    margin: 1rem 0.5rem;
    gap: 0.25rem;
    display: flex;
    flex-direction: row;
    justify-content: end;
  }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  /* Custom rules for large devices */
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
  /* Custom rules for x-large devices */
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) { 
  /* Custom rules for xx-large devices */
}
