# Eclipse
.settings
.settings/*
.buildpath
.project
.jsdtscope

# VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# ruTorrent
conf/users/*
share/users/*
share/torrents/*
share/settings/*
plugins/xirvik
.htpasswd
plugins/shoutbox
plugins/backup
plugins/news
plugins/_xgetdir
plugins/xcreate
plugins/explorer
plugins/multirpc
plugins/ratiomet
plugins/xversion
plugins/upload_check
plugins/trafic_check
plugins/tracklimits
plugins/starter
plugins/rssbackup
plugins/quotaspace
plugins/firewall
plugins/choke
plugins/bandwidth
plugins/plimits
plugins/localnews
plugins/hints
plugins/dmca
plugins/autodl-irssi
plugins/xnfo/
plugins/xshoutbox/
plugins/donecolor/
plugins/filebot/
plugins/hashblock/
plugins/ratiocolor/
plugins/repeat/
plugins/set_title/
php/commands.lst
.idea/*
*.iml
rutorrent-custom-plugins

# MacOS
.DS_Store
