.stable-head { background: #272E36; border-color: #A0A0A0 #A0A0A0 #A0A0A0 #A0A0A0; }
.stable-head table tr {background: transparent url(./images/header.gif) repeat-x scroll center top}
.stable-head table tr td { border-color: #A0A0A0 #A0A0A0 #A0A0A0 #A0A0A0; background: transparent url(./images/blank.gif) no-repeat scroll right center; color: #00ff00; font-weight: bold;}
.stable-head div.resz {background: transparent url(./images/s.gif) no-repeat scroll left center; }
.stable-body td { border-bottom: 1px solid #E0E0E0; color: #BDDBDB; font-weight: bold;}

.stable-body {background: #272E36;}
.stable-body tr.selected td {background: #BDDBDB; color: #272E36;}
.stable-body tr.odd td {background: #323A46;}
.stable-body tr.even td {background: #272E36;}  
.stable-move-header {position: absolute; background: transparent url(./images/header_move.gif) repeat-x scroll center top rgba(255,255,255,0.7); border: 1px solid #0099FF; }

.stable-separator-header { background: #0099FF; }

.meter-value { float: left; background-color: #ffffff; border: 1px inset #BBBBBB; border-bottom: none;}
.meter-text { color: #ffffff;}

.meter-value-start-color { background-color: #FFFF00 }
.meter-value-end-color { background-color: #31cf31 }
.stable-scrollpos { background: #323A46; color: #BDDBDB; }