#meter-cpu-holder { background: #e4edf6; }
#Chunks { border: none }

#shoutbox a { color: #034084 }
.shieven {background: #D2E0F0; }
.shiodd {background: #e4edf6; }

#rsstimer { margin-top: 3px;  }

.tfavicon { margin-right: 26px; }